<!DOCTYPE html>
<html>
  <head>
    <title>RecipeSharingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Home', root_path %>
        <% if user_signed_in? %>
          <%= link_to 'Profile', profile_path %>
          <%= link_to 'Logout', destroy_user_session_path, method: :get %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path %>
          <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <% if notice or alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>
  </body>
</html>
